html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: "HelveticaNeueCyr-Thin"; src: url("fonts/HelveticaNeueCyr-Thin.eot"); src: url("fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Light"; src: url("fonts/HelveticaNeueCyr-Light.eot"); src: url("fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-LightItalic"; src: url("fonts/HelveticaNeueCyr-LightItalic.eot"); src: url("fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Roman"; src: url("fonts/HelveticaNeueCyr-Roman.eot"); src: url("fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Medium"; src: url("fonts/HelveticaNeueCyr-Medium.eot"); src: url("fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6, strong, b { font-weight: normal; }

h1, h2 { font-family: "HelveticaNeueCyr-Thin", Helvetica, sans-serif; line-height: 1.1; }

h3 { font-size: 22.5px; font-family: "HelveticaNeueCyr-Light", Helvetica, sans-serif; line-height: 1.16; color: #3e3e3e; }
h3 strong { font-family: "HelveticaNeueCyr-Medium", Helvetica, sans-serif; }

p { font-family: "HelveticaNeueCyr-Light", Helvetica, sans-serif; font-size: 16.5px; line-height: 1.1; color: #3e3e3e; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.input, .textarea { font-family: "HelveticaNeueCyr-Light", Helvetica, sans-serif; font-size: 16.5px; color: #3e3e3e; line-height: 1.1; border: 1px solid rgba(201, 201, 201, 0.5); background: white; resize: none; width: 100%; padding: 15.75px 21.75px 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder { font-family: "HelveticaNeueCyr-LightItalic", Helvetica, sans-serif; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.input:-moz-placeholder, .textarea:-moz-placeholder { font-family: "HelveticaNeueCyr-LightItalic", Helvetica, sans-serif; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.input::-moz-placeholder, .textarea::-moz-placeholder { font-family: "HelveticaNeueCyr-LightItalic", Helvetica, sans-serif; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { font-family: "HelveticaNeueCyr-LightItalic", Helvetica, sans-serif; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.input::placeholder, .textarea::placeholder { font-family: "HelveticaNeueCyr-LightItalic", Helvetica, sans-serif; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.input:focus, .textarea:focus { border-color: #c9c9c9; }

.submit { width: 99%; padding: 21px 15px 22.5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeueCyr-Roman", Helvetica, sans-serif; font-size: 22.5px; line-height: 1; color: white; background-color: #f3f3f3; background-image: -moz-linear-gradient(228deg, #e93232 0%, #12478f 50%); background-image: -o-linear-gradient(228deg, #e93232 0%, #12478f 50%); background-image: -webkit-linear-gradient(228deg, #e93232 0%, #12478f 50%); background-image: linear-gradient(222deg, #e93232 0%, #12478f 50%); -moz-box-shadow: inset 0 -2px 0 rgba(255, 114, 134, 0.59); -webkit-box-shadow: inset 0 -2px 0 rgba(255, 114, 134, 0.59); box-shadow: inset 0 -2px 0 rgba(255, 114, 134, 0.59); position: relative; }
.submit:active { top: 1px; -moz-box-shadow: inset 0 -1px 0 rgba(255, 114, 134, 0.59); -webkit-box-shadow: inset 0 -1px 0 rgba(255, 114, 134, 0.59); box-shadow: inset 0 -1px 0 rgba(255, 114, 134, 0.59); }

.out { margin: 0 auto; min-width: 1125px; }

.section { position: relative; }
.section__inner { width: 1095px; margin: 0 auto; position: relative; *zoom: 1; }
.section__inner:after { content: " "; display: table; clear: both; }

.top { background-color: #17436b; background-image: -moz-linear-gradient(72deg, #12478f 20%, #e93232 80%); background-image: -o-linear-gradient(72deg, #12478f 20%, #e93232 80%); background-image: -webkit-linear-gradient(72deg, #12478f 20%, #e93232 80%); background-image: linear-gradient(18deg, #12478f 20%, #e93232 80%); *zoom: 1; padding: 37.5px 0 0; }
.top:after { content: " "; display: table; clear: both; }
.top:before { position: absolute; bottom: 0; left: 0; right: 0; background: url(../img/service-bg.png) repeat-x center bottom; height: 198px; content: ""; }
.top__bg { background: url(../img/dots-n-lines.png) repeat-x bottom center; }
.top__phone { float: right; width: 417px; margin-bottom: -70px; }
.top__phone img { width: 255.75px; }
.top__heading { color: white; padding: 90px 75px 0; max-width: 543.75px; }
.top__heading h1, .top__heading h2 { line-height: 1.1; }
.top__heading h1 { font-size: 52.5px; }
.top__heading h2 { font-size: 37.5px; }
.top__heading h2 strong { font-family: "HelveticaNeueCyr-Medium", Helvetica, sans-serif; }

.logo { width: 82.5px; display: inline-block; vertical-align: top; margin: 8.25px 0 0; }
.logo img { width: 100%; }

.services { background: url(../img/section-bg.png) no-repeat bottom left; padding-bottom: 48.75px; }
.services:before { content: ""; position: absolute; top: 20px; right: 0; background: url('../img/icons-sa354dbad28.png') 0 -461px no-repeat; width: 399px; height: 597px; }
.services h3 { max-width: 600px; }

.service { font-size: 0; text-align: center; width: 794.25px; margin: 0 auto; padding: 37.5px 0 0; }
.service li { display: inline-block; vertical-align: top; width: 249.75px; font-family: "HelveticaNeueCyr-Light", Helvetica, sans-serif; font-size: 19.5px; line-height: 1.15; color: #3e3e3e; margin: 0 7.5px 26.25px; }
.service__icon { height: 52.5px; text-align: center; font-size: 0; margin-bottom: 12px; }
.service__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.service__icon i { display: inline-block; vertical-align: bottom; }
.service__icon i.is-new { background: url('../img/icons-sa354dbad28.png') 0 -299px no-repeat; width: 48px; height: 46px; }
.service__icon i.is-contacts { background: url('../img/icons-sa354dbad28.png') 0 -196px no-repeat; width: 46px; height: 40px; }
.service__icon i.is-piggy { background: url('../img/icons-sa354dbad28.png') 0 -413px no-repeat; width: 46px; height: 38px; }
.service__icon i.is-coins { background: url('../img/icons-sa354dbad28.png') 0 -138px no-repeat; width: 48px; height: 48px; }
.service__icon i.is-phone { background: url('../img/icons-sa354dbad28.png') 0 -355px no-repeat; width: 28px; height: 48px; }
.service__icon i.is-cash { background: url('../img/icons-sa354dbad28.png') 0 -30px no-repeat; width: 48px; height: 40px; }
.service__icon i.is-chat { background: url('../img/icons-sa354dbad28.png') 0 -80px no-repeat; width: 48px; height: 48px; }
.service__icon i.is-love { background: url('../img/icons-sa354dbad28.png') 0 -246px no-repeat; width: 48px; height: 43px; }

.steps { background-image: -moz-linear-gradient(72deg, #e93232 0%, #12478f 50%); background-image: -o-linear-gradient(72deg, #e93232 0%, #12478f 50%); background-image: -webkit-linear-gradient(72deg, #e93232 0%, #12478f 50%); background-image: linear-gradient(18deg, #e93232 0%, #12478f 50%); -moz-box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); -webkit-box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); text-align: center; }
.steps__bg { padding: 37.5px 0 45px; background: url(../img/steps-bg.png) repeat-x bottom center; }
.steps h3 { color: white; width: 690px; margin: 0 auto; }
.steps__wrap { font-size: 0; padding: 45px 0 0; }

.step { display: inline-block; vertical-align: top; text-align: left; margin-bottom: 75px; *zoom: 1; min-height: 90px; }
.step:after { content: " "; display: table; clear: both; }
.step_one { width: 315px; }
.step_one .step__number { width: 50px; }
.step_two { width: 247.5px; }
.step_two .step__number { width: 70px; }
.step_three { width: 292.5px; }
.step_three .step__number { width: 70px; }
.step_four { width: 240px; }
.step_four .step__number { width: 70px; }
.step__number { float: left; font-family: "HelveticaNeueCyr-Thin", Helvetica, sans-serif; font-size: 113.25px; line-height: 0.75; color: white; padding: 2px 0 0; border-right: 1px solid white; margin: 0 15px 0 0; }
.step p { color: white; overflow: hidden; padding: 0 8px 0 0; }

.partners { background: white; text-align: center; padding: 37.5px 0 60px; overflow: hidden; }
.partners__wrap { font-size: 0; margin: 0 -12.75px; }

.partner { display: inline-block; vertical-align: top; width: 33.3%; padding: 15px 12.75px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; }
.partner:first-child .partner__text:before { display: none; }
.partner__logo { height: 90px; text-align: center; font-size: 0; margin: 0 auto 22.5px; }
.partner__logo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.partner__logo.is-ipsp { width: 140.25px; }
.partner__logo.is-pilot { width: 162px; }
.partner__logo.is-wallet { width: 74.25px; }
.partner__logo img { vertical-align: bottom; width: 100%; }
.partner__text { position: relative; }
.partner__text:before { content: ""; background-color: #264587; background-image: -moz-linear-gradient(72deg, #e93232 0%, #12478f 100%); background-image: -o-linear-gradient(72deg, #e93232 0%, #12478f 100%); background-image: -webkit-linear-gradient(72deg, #e93232 0%, #12478f 100%); background-image: linear-gradient(18deg, #e93232 0%, #12478f 100%); -moz-box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); -webkit-box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); box-shadow: inset 0 2px 0 rgba(255, 114, 134, 0.59); position: absolute; top: 0; bottom: 0; left: -12.75px; width: 1px; }

.join { text-align: center; padding: 45px 0 64.5px; background: url(../img/join-bg.png) no-repeat center top #f7f7f7; }
.join h3 { margin-bottom: 30px; }
.join:after { content: ""; background-image: -moz-linear-gradient(49deg, #e93232 0%, #12478f 10%); background-image: -o-linear-gradient(49deg, #e93232 0%, #12478f 10%); background-image: -webkit-linear-gradient(49deg, #e93232 0%, #12478f 10%); background-image: linear-gradient(41deg, #e93232 0%, #12478f 10%); height: 9px; position: absolute; bottom: 0; left: 0; right: 0; }

.form { width: 465px; margin: 0 auto; }
.form .input, .form .textarea { margin-bottom: 15px; }
